body {
    display: flex;
    margin: 0;
    background: #ecf0f1;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;

    .page {
        header {
            background: #19b5fe;
            color: #150811;
            padding: 20px;
            width: 100%;
            max-height: 200px;
            position: fixed;


            .outer-link {
                color: #ecf0f1;
            }
        }

        main {
            padding-top: 200px;
            padding-left: 40px;

            .ship-series-cards {
                display: grid;

                .ship-series-card {
                    padding: 20px;
                    min-width: 200px;

                    .title {
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
    
                    .ship-parts {
                        padding-left: 10px;
                        display: flex;
                        flex-direction: column;
                    }

                    .ship-part {
                        margin-bottom: 10px;
                    }

                    .ship-bonus {
                        font-weight: 600
                    }
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .ship-series-cards {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 750px) {
    .ship-series-cards {
        grid-template-columns: auto auto auto;
    }
}


@media (min-width: 950px) {
    .ship-series-cards {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 1200px) {
    .ship-series-cards {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (min-width: 1500px) {
    .ship-series-cards {
        grid-template-columns: auto auto auto auto auto auto;
    }
}
